*{
    margin: 0%;
    padding: 0%;
    font-family: 'work' sans-serif;
}
.header{
    width: 100%;
  
     background-color:#EEE4E7;
}
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
}
nav .logo{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    padding-top: 33px;
}
nav ul{
    display: flex;
    text-align: center;
}
nav ul li{
    list-style-type: none;
    margin-left: 30px;
    padding-top: 43px;
    font-family: 'work' sans-serif;
}

/* bannner..... */
/* bannner..... */
.banner{
    width: 80%;
    margin: 0 auto;

}
.banner-info{
    margin-top: 100px;
    text-align: center;
   
}
.banner-title{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #131313;
    text-align: center;
}
.banner-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin: 15px 0px;}
    
.banner-btn{
    border: 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #ff900e;
    color: white;
}
.banner-img {
    margin-top: 50px;
    
    
}
.banner-img img{
    width: 1100px;
    margin-bottom: 45px;
    
    
    
    
}

/* main........ */
/* main........ */
main{
    width: 80%;
    margin: 0 auto;
}
.content{
    margin-top: 100px;
    display: flex;
    gap: 25px;

}
.feature{
    margin-top: 150px;
}
.feature-title{
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 53px;
    margin-bottom: 15px;
}
.col-1{
    color: rgb(158, 156, 156);
    
}
.col-2{
    font-weight: bold;
    color: black;

}
.col-3{
    color: #ff900e;

}
.feature-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 15px;
}
.feature-img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
   
}
.feature-img img{
    width: 250px;
    height: 242px;
}

/* content-2....... */
/* content-2....... */
.content-2{
    margin-top: 150px;
    display: flex;
    gap: 20px;
}
.content-info{
    width: 50%;
}
.content-title{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    border-left:2px solid orange ;
    padding-left: 10px;
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    margin-bottom: 15px;
}
.content-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;


}
.content-2-subtitle{
    padding: 10px;
}
.content-2-subtitle h3{
    margin-bottom: 10px;
    margin-top: 15px;

}
.content-img{
    position: relative;
}
.content-img img{
    width: 500px;
    height: 600px;
}
.content-2-btn{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 45px 42px 45px 45px;
    border: 0;
    background-color:#FF900E ;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom:-40px;
    left: -20px;
    
}
/* content...9 */
.content-9{
    margin-top: 70px;
}
.projectes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
   
}
.project-info{
    margin-top: 15px;
}
.project-info h3{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project-info p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #131313;
}
.project img{
    width: 300px;
    height: 300px;
}
.properties h3{
    font-size: 25px;
    font-weight: 700px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}
.properties p{
    font-size: 20px;
    color: #727272;
    font-weight: 500px;
    margin-bottom: 30px;
}
.project-info{
    display: flex;
   gap: 120px;
}
/* comteeeeent-3...... */
.content-3{
    margin-top: 100px;
    width: 50%;
}
.content-3 h1{
    font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 35px;
  
}
.content-3 p{font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #727272;}



/* .......content-4 */
/* .......content-4 */
.content-4{
    margin-top: 50px;
}
.icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    text-align: center;

}
.icon{
    border: 1px solid #FF900E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 13px;

    
}
.icon img{
    width: 30px;
    height: 30px;
}
.icon h1{
    color: #0e0d0d;

}
.icon p{
    color: #535051;
    font-size: larger;
  
}
.icon:hover{
    transform: scale(0.6);
    transition: 3s;
    background-color: #ff900e;
   
}
.icon:hover h1, p{
    color: #EEE4E7;
}

/* comteeeeent-3...... */
.content-5-info{
    text-align: center;
    margin-top: 100px;
    }
.content-5-info h2{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 53px;
}
.content-5-info p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;


text-align: center;



color: #727272;
margin-bottom: 80px;
}
.sponsers{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  
    justify-items: center;
}
.sponser img{
    width: 80px;
    height: 30px;
} 
/* .....foooter.... */
/* .....foooter.... */
footer{
    width: 75%;
    margin: 0 auto;
    background-color: #ff900e;
    margin-top: 50px;
}
.footer-text{
    background-color:#EEE4E7;
    text-align: center;
    padding: 30px;
}

.hide{
    display: none;
}





/* responsive styles,.,.,.,.,., */
/* responsive styles,.,.,.,.,., */
@media only screen and (max-width:688px)
 {
    .header{
        width: 100%;
       
    }
    nav , ul{
        flex-direction: column;
    }
    nav{
        text-align: center;
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-description{
        font-size: 10px;
    }
    .banner{
        width: 100%;
    }
    .banner-img{
        padding: 15px;
    }
    .banner-img img{
        width: 100%;
       
    }
    .content{
        flex-direction: column-reverse;
       
    }
    .feature{
        margin-top: 50px;
    }
    .feature-img{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .feature-img img{
        width: 100%;
    }
    .content-2{
        flex-direction: column;
    }
    .content-info{
        width: 100%;
    }
   
    .content-img img{
        width: 100%;
    }
    .content-3{
        width: 100%;
    }
    .icons{
        grid-template-columns: repeat(2,1fr);
    }
    .icon:hover{
        transform: scale(0.6);
        transition: 3s;
        background-color: #ff900e;
       
    }
    .icon:hover h1, p{
        color: #EEE4E7;
    }
    .sponsers{
       
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      
        justify-items: center;
    }
    .projectes{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    }
   


    

 
}


